services/workflow/src/StateMachines/monthly-schedule.json
{
  "Comment": "Monthly Schedule State Machine — Replaces SheduleManager SchedulePlanType.Monthly (type=4). Implements the Process() monthly case (lines 166-183) and FindMonthlySchedulePlanNextTriggerDate() logic (lines 600-630). Next trigger = LastTriggerTime + 1 month (or UtcNow + 1 month). Only boundary check is EndDate — no day-of-week or timespan filtering. Monthly wait is DYNAMIC (28-31 days) calculated by Lambda, not a fixed-second Wait.",
  "StartAt": "ValidateSchedule",
  "States": {
    "ValidateSchedule": {
      "Type": "Task",
      "Comment": "Validates the monthly schedule plan exists, is enabled, and calculates the next trigger time (LastTriggerTime + 1 month or UtcNow + 1 month). Replaces the initial validation and nextActivation calculation from SheduleManager.cs lines 166-173.",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:workflow-handler",
      "Parameters": {
        "action": "validate-schedule",
        "scheduleType": "monthly",
        "schedulePlan.$": "$.schedulePlan",
        "idempotencyKey.$": "$.idempotencyKey",
        "correlationId.$": "$.correlationId"
      },
      "ResultPath": "$.validation",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "CheckEnabled"
    },
    "CheckEnabled": {
      "Type": "Choice",
      "Comment": "Checks if the schedule plan is enabled. Disabled schedules terminate gracefully without executing any jobs.",
      "Choices": [
        {
          "Variable": "$.validation.enabled",
          "BooleanEquals": true,
          "Next": "CheckEndDate"
        }
      ],
      "Default": "ScheduleDisabled"
    },
    "CheckEndDate": {
      "Type": "Choice",
      "Comment": "Implements EndDate boundary check from SheduleManager.cs line 174: (!schedulePlan.EndDate.HasValue) || (nextActivation < schedulePlan.EndDate.Value). If endDate is not set or the next trigger time is before the endDate, proceed to execute. If the schedule has expired past its EndDate, transition to ScheduleExpired which sets NextTriggerTime to null (line 180).",
      "Choices": [
        {
          "Variable": "$.validation.hasEndDate",
          "BooleanEquals": false,
          "Next": "ExecuteJob"
        },
        {
          "And": [
            {
              "Variable": "$.validation.hasEndDate",
              "BooleanEquals": true
            },
            {
              "Variable": "$.validation.isExpired",
              "BooleanEquals": true
            }
          ],
          "Next": "ScheduleExpired"
        },
        {
          "And": [
            {
              "Variable": "$.validation.hasEndDate",
              "BooleanEquals": true
            },
            {
              "Variable": "$.validation.isExpired",
              "BooleanEquals": false
            }
          ],
          "Next": "ExecuteJob"
        }
      ],
      "Default": "ExecuteJob"
    },
    "ExecuteJob": {
      "Type": "Task",
      "Comment": "Executes the scheduled job — creates a new job entry in DynamoDB (replacing JobManager.Current.CreateJob() from SheduleManager.cs line 190), sets LastTriggerTime to UtcNow (line 169: schedulePlan.LastTriggerTime = DateTime.UtcNow), calculates NextTriggerTime as LastTriggerTime + 1 month (lines 171-172), updates LastStartedJobId (line 191), and publishes workflow.schedule.triggered SNS domain event.",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:workflow-step-handler",
      "Parameters": {
        "action": "execute-scheduled-job",
        "scheduleType": "monthly",
        "schedulePlanId.$": "$.schedulePlan.id",
        "jobTypeId.$": "$.schedulePlan.jobTypeId",
        "jobAttributes.$": "$.schedulePlan.jobAttributes",
        "snsEvent": "workflow.schedule.triggered",
        "idempotencyKey.$": "$.idempotencyKey",
        "correlationId.$": "$.correlationId"
      },
      "ResultPath": "$.jobResult",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "CalculateMonthlyWait"
    },
    "CalculateMonthlyWait": {
      "Type": "Task",
      "Comment": "Calculates the exact number of seconds until the next monthly trigger. CRITICAL: Unlike weekly schedules which use a fixed 604800-second (7-day) Wait, monthly intervals are VARIABLE (28-31 days depending on the month). The C# AddMonths(1) method automatically handles month-length differences (e.g., Jan 31 + 1 month = Feb 28/29, Feb 28 + 1 month = Mar 28). This Lambda replicates that behavior by computing the precise seconds from lastTriggerTime to lastTriggerTime + 1 calendar month.",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:workflow-step-handler",
      "Parameters": {
        "action": "calculate-monthly-wait",
        "lastTriggerTime.$": "$.jobResult.lastTriggerTime",
        "idempotencyKey.$": "$.idempotencyKey",
        "correlationId.$": "$.correlationId"
      },
      "ResultPath": "$.waitCalculation",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "WaitOneMonth"
    },
    "WaitOneMonth": {
      "Type": "Wait",
      "Comment": "Waits for the dynamically calculated number of seconds until the next monthly trigger. Uses SecondsPath (NOT fixed Seconds) because months have variable lengths: 28 days (Feb non-leap), 29 days (Feb leap), 30 days (Apr/Jun/Sep/Nov), or 31 days (Jan/Mar/May/Jul/Aug/Oct/Dec). This replaces the C# AddMonths(1) stepping logic from SheduleManager.cs lines 171-172 (Process) and line 622 (FindMonthlySchedulePlanNextTriggerDate).",
      "SecondsPath": "$.waitCalculation.secondsUntilNextTrigger",
      "Next": "CheckEndDate"
    },
    "HandleError": {
      "Type": "Task",
      "Comment": "Handles errors encountered during monthly schedule execution. Publishes workflow.schedule.failed SNS event for observability and sends error details to the workflow-monthly-schedule-dlq dead-letter queue for investigation and retry.",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:workflow-step-handler",
      "Parameters": {
        "action": "handle-schedule-error",
        "scheduleType": "monthly",
        "error.$": "$.error",
        "schedulePlan.$": "$.schedulePlan",
        "snsEvent": "workflow.schedule.failed",
        "dlqName": "workflow-monthly-schedule-dlq",
        "idempotencyKey.$": "$.idempotencyKey",
        "correlationId.$": "$.correlationId"
      },
      "ResultPath": "$.errorResult",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Next": "Failed"
    },
    "ScheduleDisabled": {
      "Type": "Succeed",
      "Comment": "Terminal state for disabled monthly schedules. The schedule plan has Enabled=false, so no job is created and the state machine exits gracefully."
    },
    "ScheduleExpired": {
      "Type": "Task",
      "Comment": "Marks the monthly schedule as expired in DynamoDB. Sets NextTriggerTime to null (matching SheduleManager.cs line 180: schedulePlan.NextTriggerTime = null) when the calculated nextActivation exceeds the EndDate boundary. Publishes workflow.schedule.expired SNS event for audit and observability.",
      "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:workflow-step-handler",
      "Parameters": {
        "action": "expire-schedule",
        "scheduleType": "monthly",
        "schedulePlanId.$": "$.schedulePlan.id",
        "snsEvent": "workflow.schedule.expired",
        "idempotencyKey.$": "$.idempotencyKey",
        "correlationId.$": "$.correlationId"
      },
      "ResultPath": "$.expirationResult",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "HandleError"
        }
      ],
      "Next": "Succeeded"
    },
    "Succeeded": {
      "Type": "Succeed",
      "Comment": "Terminal success state. The monthly schedule has completed its lifecycle — either all scheduled executions ran successfully and the schedule expired normally, or the schedule reached its EndDate boundary."
    },
    "Failed": {
      "Type": "Fail",
      "Error": "MonthlyScheduleFailed",
      "Cause": "Monthly schedule workflow encountered an error"
    }
  }
}